html {
    background-color: #ffff00
}

body {
    text-align: center
}

h1 {
    text-align: center;
    color: #ffffff;
    max-width: 150px;
}

p {
    color: #adad85
}

h2 {
    color: #ffffff
}

