html {
    background-color: #FEDC63;
    width: 75%;
    height: 100%;
}

body {
    width: 75%;
    text-align: center;
    color: lightgrey;
    height: auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    max-width: 150px;
}

#BodyText {
    color: #adad85
    text-align: center;
}

h2 {
    color: #ffffff
}

